# Ignore everything
*
!*/

# But not these files in the root
!/.gitignore
!/README.md

# But not src folder in the root (for frontend developing)
!/src/**/*
!/dist/**/*

# But not gulpfile.js, package.json everywhere in the project
!gulpfile.js
!package.json
!.DS_Store

# But ignore node packages everywhere inside the project
node_modules/
.idea/
dist/mixins/
