.top-banner {
  padding: 148px 0 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $alabaster;
  font-size: 15px;
  line-height: 20px;

  &__container {
    max-width: 625px;
  }

  .btn {
    margin-top: 82px;
    min-width: 296px;
  }
}