.offers {
  margin-bottom: 80px;

  &-filter {

    .btn {
      height: 48px;
    }

    &__dropdowns {
      display: flex;
      column-gap: 20px;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        margin-bottom: 20px;
        row-gap: 20px;
      }

      .dropdown {
        width: 100%;

        &-toggle {
          min-width: 100%;
          max-width: 250px;
        }
      }
    }
  }

  &-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;

    @include media-breakpoint-down(md){
      flex-direction: column;
      row-gap: 20px;
      align-items: flex-start;
    }
  }
}