//----- Icons

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &--fb {
    background-image: url("../images/icons/fb.svg");
    width: 18px;
    height: 18px;
  }

  &--inst{
    background-image: url("../images/icons/inst.svg");
    width: 18px;
    height: 18px;
  }
}

//----- Buttons

.btn {
  text-align: center;
  height: 54px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  transition: 200ms ease-in-out;
  border-radius: 15px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 15px;

  &--no-styles {
    height: auto;
    border: 0;
    background: none;
    padding: 0;
    min-width: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $gray;
  }

  &--full-width {
    width: 100%;
  }

  &--info {
    color: $alabaster;
    font-weight: 400;
    background: $punch;
    cursor: initial;
    font-size: 15px;

    &:hover {
      background: $punch;
      color: $alabaster;
      border: 0;
    }
  }

  &--transp {
    border: 2px solid $alabaster;
    color: $alabaster;
    min-width: 240px;
    height: 56px;
    font-weight: 500;
    font-size: 20px;

    &:disabled {
      border: 2px solid $dove-gray;
      color: $dove-gray;
    }

    &:hover {
      background: $alabaster;
      color: $black;
      border-color: $alabaster;
    }
  }

  &--bg {
    background: $alabaster;
    min-width: 190px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//------- Inputs

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="search"] {
  border: 1px solid $silver-select;
  border-radius: 15px;
  font-weight: 400;
  font-size: 15px;
  height: 54px;
  color: $alabaster;
  background: transparent;
  width: 100%;
  max-width: 505px;
  padding: 0 16px;
  line-height: 20px;

  &::placeholder {
    font-weight: 400;
    font-size: 15px;
    color: $gray;
  }

  &:focus {
    outline: none;
    border: 1px solid $gray;
  }
}

select,
.btn--select {
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  color: $black;
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 0 16px;
  border: 1px solid $silver-select;
  background: $white;

  &::placeholder {
    font-weight: 300;
    font-size: 20px;
    color: rgba(4, 4, 14, 50%);
  }

  &:focus {
    outline: none;
  }
}

select {
  padding-right: 50px;
  appearance: none; /*Chrome, Safari и Opera*/
  -webkit-appearance: none; /*Chrome, Safari и Opera*/
  -moz-appearance: none; /*Firefox*/
  text-indent: 0.01px; /*Firefox*/
  text-overflow: ''; /*Firefox*/
  background: #fff url('../images/icons/select.svg') no-repeat 95% 20px;
  background: #fff url('../images/icons/select.svg') no-repeat calc(100% - 14px) 20px;
  background: #fff url('../images/icons/select.svg') no-repeat -moz-calc(100% - 14px) 20px;
  background: #fff url('../images/icons/select.svg') no-repeat -webkit-calc(100% - 14px) 20px;
  background-size: 14px;
  outline: none;

  &::-ms-expand {
    display: none;
  }
}

.form-label {
  position: relative;

  input:not(.input-empty) {

    &:invalid {
      border: 1px solid $scarlet;

      & + .form-label__message {
        visibility: visible;
        opacity: 1;
      }

      & ~ .form-label__icon {
        visibility: visible;
        opacity: 1;
        background: url("../images/icons/invalid.svg") no-repeat center;
      }
    }

    &:valid {
      border: 1px solid $fern-green;

      & ~ .form-label__icon {
        visibility: visible;
        opacity: 1;
        background: url("../images/icons/valid.svg") no-repeat center;
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__message {
    position: absolute;
    bottom: -22px;
    left: 16px;
    font-weight: 400;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;

    &--error {
      color: $scarlet;
    }
  }


}

//-------- Dropdown

.dropdown {
  display: inline-flex;
  margin-bottom: 0;
  border: 1px solid $silver;
  border-radius: 15px;
  background-color: $white;
  box-shadow: none;

  &--open {
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.04);

    .btn {
      font-weight: 600;
    }
  }

  &--selected {
    border: 1px solid $punch;

    &.dropdown--open {
      border: 1px solid $silver;
    }
  }

  &-toggle {
    position: relative;
    min-width: 170px;
    justify-content: flex-start;
    border: 0;
    border-radius: 15px;
    margin-bottom: 0;

    &:after {
      display: none;
    }
  }

  .caret {
    background: url("../images/icons/select.svg") no-repeat center;
    width: 14px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 14px;
  }

  &-menu {
    background: $white;
    border: 1px solid $silver;
    padding: 7px 16px;
    width: calc(100% + 2px);
    border-radius: 0 0 15px 15px;
    left: -1px !important;
    max-height: 200px;
    overflow: scroll;

    &[data-popper-placement="bottom-start"] {
      border-top: 0;
      top: -14px !important;
    }

    &[data-popper-placement="top-start"] {
      bottom: -14px !important;
      left: -1px !important;
      border-radius: 15px 15px 0 0;
      border-bottom: 0;
    }

    &__item {
      font-weight: 400;
      font-size: 13px;
      line-height: 12px;
      padding: 10px 0;
      cursor: pointer;

      &--active {
        color: $punch;
      }
    }
  }

  &--sort-by {
    background: none;
    border: 0;

    .dropdown-toggle {
      font-weight: 400;
      padding-left: 20px;
      margin-left: 17px;
      min-width: 190px;

      .caret {
        right: auto;
        left: 0;
        background: none;
        width: 10px;
        height: 13px;

        &--asc {
          background: url("../images/icons/asc.svg") no-repeat center;
        }

        &--desc {
          background: url("../images/icons/desc.svg") no-repeat center;
        }
      }

      &:hover {
        color: $punch;
      }
    }

    .dropdown-menu {
      border: 0;
      padding: 12px;
      border-radius: 15px;

      &__item {
        white-space: nowrap;
      }

      &[data-popper-placement="bottom-start"] {
        top: 8px !important;
      }

      &[data-popper-placement="top-start"] {
        bottom: 8px !important;
      }
    }
  }
}


.sort-by {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
}

//------------- Input checkbox

input[type="checkbox"] {
  display: none;

  & + label {
    font-weight: 400;
    font-size: 12px;
    color: $gray;
    line-height: 16px;
    padding-left: 23px;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      border: 1px solid $gray;
      border-radius: 3px;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &:checked + label {
    color: $punch;

    &:before {
      background: url("../images/icons/check.svg") no-repeat center;
      border-color: $punch;
    }
  }
}